// Colors
// -------------------------------
$colors: (
  primary: #1890ff,
  secondary: orange,
  tertiary: #42b983,
  success: #67c23a,
  warning: #e6a23c,
  danger: #f56c6c,
  light: #909399,
  medium: #f4f4f4,
  dark: #909399
);

$media: (
  mobile: 960px
);
